@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #edffec;
}
.container{
    min-height: 400px;
    width: 400px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10 20;
}
#quotes{
    min-height: 200px;
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.9rem;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2rem;
}
#author{
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    color: #4d303f;
}
.fas{
    font-size: 31px;
    color: #4d303f;
    opacity: 0.7;
}
button{
    height: 40px;
    width: 180px;
    margin: 0 auto;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e4bad4;
    border-radius: 13px;
}
button:hover{
    box-shadow:  2px -1px 8px 0px #1a2a3670;
    background: #fff;
    color: #e4bad4;
    font-size: 19px;
    text-shadow: 1px 2px 2px #000;
    transition: all 1s ease-in-out;
    border-radius: 15%;
}